body {
    font-family: "Georgia", "Garamond", serif;
    background-color: white;
}

h1 {
    color: darkred;
}
  
  ul {
    background: violet;
    padding: 20px;
  }
  
  ul li {
    background: pink;
    color: darkred;
    margin: 5px;
  }
